# FIT5196 Task 1 in Assessment 1
#### Student Name: Siyang Feng
#### Student ID: 28246993

Date: 08/03/2018

Version: 2.0

Environment: Python 3.6.2 and Anaconda 4.3.29

Libraries used:
* pandas 0.20.3 (for data frame, included in Anaconda Python 3.6)
* re 2.2.1 (for regular expression, included in Anaconda Python 3.6)
* numpy 1.13.1 (for data format, included in Anaconda Python 3.6)


## 1. Introduction
The first task is to extract the Basic Indicators table from an Excel file, basic_indicators.xlsx, and save the table in a CSV file where the first column contains 202 country names, and the following 14 columns contain the different types of indicators.

In order to finish this task, 
* you must correctly parse and extract the table; 
* existing Python packages can be used;
* it is __not required__ to extract the column labels. Except for the first column, which should be named with "Country Name", the other columns should be indexed with integers as shown in the figure;
* your script must be written in a Jupyter notebook named as "excel.ipynb";
* and the extracted data must be saved in a CSV file named as "basic_indicators.csv";
* the input file must only be "basic_indicators.xlsx".

## 2. Import libraries

In [1]:
import sys
import pandas as pd
import numpy as np 
import re

In [2]:
print(sys.version_info)
print('Pandas version :', pd.__version__)
print('numpy version :', np.__version__)
print('Regular Expression version :', re.__version__)

sys.version_info(major=3, minor=6, micro=2, releaselevel='final', serial=0)
Pandas version : 0.20.3
numpy version : 1.13.1
Regular Expression version : 2.2.1

## 3. Parse Excel File

__First step is to parse the excel file.__

Open Excel file by creating a Pandas ExcelFile object, dataEx.

In [3]:
dataEx = pd.ExcelFile('basic_indicators.xlsx')
dataEx

In some cases, particularly while an Excel file has a lot of worksheet, it may be good to view all the sheets by their sheet names. `sheet_names` is used to view all the sheet names. And then, parse the specific sheet by using `df.parse('sheet name')`.

In [4]:
# check sheet names in the excel file
# only one sheet
dataEx.sheet_names

['Basic Indicators']

In [5]:
# read 'Basic Indicators' sheet into pandas dataframe
df = dataEx.parse('Basic Indicators')
df.head(10)

,Unnamed: 0,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Countries and areas,Under–5 mortality rank,Under–5 mortality rate,NaN,Under–5 mortality rate by sex\n2016,NaN,Infant mortality rate (under 1),NaN,Neonatal mortality rate,...,Total adult literacy rate (%),NaN,Primary school net enrolment ratio ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1990,2016,male,female,1990,2016,2016,...,2011−2016*,NaN,2011−2016*,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,Afghanistan,25,177,70,74,66,120,53,40,...,31.7411,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Albania,114,40,14,15,12,35,12,6,...,97.247,NaN,95.5173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Algeria,78,49,25,27,24,41,22,16,...,75.136,x,97.0622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Andorra,179,9,3,3,3,7,2,1,...,100,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Angola,17,221,83,88,76,131,55,29,...,66.0301,NaN,84.0123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Anguilla,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see that function `pandas.ExcelFile()` can only read the file into main memory and it cannot parse the work sheet directly. In this case, `ExcelFile` can only read the excel file into main memory location, _0x1e01b476898_, even there is only one work sheet, _Basic Indicators_. Next step is to parse the particular work sheet using sheet name. The result will be dataframe which we need.

==========================================================================

__The next step is to wrangle the data.__

From dataframe before, the first four row is useless and it can be droped using function `dataframe.drop()`.

In [6]:
# drop first four useless rows
df = df.drop(df.index[:4])
df.head()

,Unnamed: 0,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
4,NaN,Afghanistan,25,177,70,74,66,120,53,40,...,31.7411,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Albania,114,40,14,15,12,35,12,6,...,97.247,NaN,95.5173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Algeria,78,49,25,27,24,41,22,16,...,75.136,x,97.0622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Andorra,179,9,3,3,3,7,2,1,...,100,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Angola,17,221,83,88,76,131,55,29,...,66.0301,NaN,84.0123,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check all the columns in this dataframe. Make sure the unvisualable space in each column label.

In [7]:
df.columns

Index(['Unnamed: 0', 'TABLE 1. BASIC INDICATORS', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

From the excel data, there are some rows showing the summary information of this dataset. 
However, we only need detail information before the summary. Thus we should get the index 
of summary and then drop all the information below summary. `index.item()` is used to get the number of the index.

In [8]:
# Check the index of 'SUMMARY' item in column 'TABLE 1. BASIC INDICATORS'
summaryIndex = df[df['TABLE 1. BASIC INDICATORS'] == 'SUMMARY'].index.item()
print(summaryIndex)
# Check the index of last row in dataframe
lastIndex = df.tail(1).index.item()
print(lastIndex)

207
244

The indexes of "SUMMARY" and last row were got. These rows are useless for this dataframe. All the row between these two should be dropped.

In [9]:
# Drop the rows from SUMMARY to last
df.drop(list(range(summaryIndex, lastIndex+1)), inplace = True)
df

,Unnamed: 0,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
4,NaN,Afghanistan,25,177,70,74,66,120,53,40,...,31.7411,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Albania,114,40,14,15,12,35,12,6,...,97.247,NaN,95.5173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Algeria,78,49,25,27,24,41,22,16,...,75.136,x,97.0622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Andorra,179,9,3,3,3,7,2,1,...,100,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Angola,17,221,83,88,76,131,55,29,...,66.0301,NaN,84.0123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Anguilla,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Antigua and Barbuda,133,26,9,9,8,25,5,4,...,98.95,x,87.0461,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Argentina,126,29,11,12,10,26,10,6,...,98.09,NaN,99.3468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Armenia,118,50,13,15,12,42,12,7,...,99.7444,NaN,96.0743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Australia,164,9,4,4,3,8,3,2,...,–,NaN,97.0328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Austria,164,10,4,4,3,8,3,2,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Azerbaijan,68,95,31,34,28,75,27,18,...,99.7901,NaN,94.1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Bahamas,126,24,11,11,10,20,9,6,...,–,NaN,97.5202,x,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Bahrain,142,23,8,8,7,20,7,3,...,94.5568,x,96.4285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bangladesh,62,144,34,37,32,100,28,20,...,72.7587,NaN,90.5086,x,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Barbados,123,18,12,13,11,16,11,8,...,–,NaN,91.0225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Belarus,164,15,4,4,3,12,3,2,...,99.6171,x,95.3602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Belgium,164,10,4,4,4,8,3,2,...,–,NaN,98.9478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Belize,106,39,15,16,13,32,13,10,...,–,NaN,96.1412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Benin,7,178,98,102,93,107,63,31,...,32.9488,NaN,95.8666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Bhutan,66,128,32,36,29,90,27,18,...,57.0336,NaN,85.5824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,...,92.4551,NaN,88.4827,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,...,96.9918,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Botswana,56,54,41,44,37,42,33,26,...,81.1887,x,91.0209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Brazil,106,64,15,16,14,53,14,8,...,91.7294,NaN,92.6971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,British Virgin Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Brunei Darussalam,131,13,10,11,9,10,9,4,...,96.0856,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Bulgaria,142,18,8,8,7,15,7,4,...,98.3525,NaN,93.3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Burkina Faso,16,199,85,89,80,99,53,26,...,34.5994,NaN,69.0963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Burundi,23,170,72,77,66,103,48,24,...,61.5697,NaN,94.1483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,NaN,Switzerland,164,8,4,4,4,7,4,3,...,–,NaN,93.3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,Syrian Arab Republic,95,37,18,19,16,30,14,9,...,80.8445,x,66.6641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,Tajikistan,53,107,43,48,38,84,37,20,...,99.4507,x,97.7278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,Thailand,123,38,12,14,11,31,11,7,...,92.8683,NaN,90.7559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,...,96.1289,x,91.0574,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,Timor–Leste,46,175,50,54,46,132,42,22,...,58.309,x,95.5923,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,Togo,21,145,76,82,70,89,51,26,...,63.7456,NaN,95.4313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,Tokelau,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,Tonga,100,22,16,15,18,19,14,7,...,99.3855,NaN,88.2331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,Trinidad and Tobago,92,30,19,20,17,26,17,13,...,–,NaN,95.2379,x,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,Tunisia,114,57,14,15,12,44,12,8,...,79.0364,NaN,98.5652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,Turkey,118,74,13,13,12,56,11,7,...,95.6014,NaN,94.1381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,Turkmenistan,44,86,51,60,42,70,43,22,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,Turks and Caicos Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,Tuvalu,78,57,25,28,23,44,21,17,...,–,NaN,84.4011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,Uganda,43,175,53,58,48,104,38,21,...,70.1982,NaN,93.6503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,Ukraine,133,19,9,10,8,17,8,5,...,99.9744,NaN,96.1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,United Arab Emirates,142,17,8,9,7,14,7,4,...,90.0339,x,93.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,United Kingdom,164,9,4,5,4,8,4,3,...,–,NaN,99.8543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,United Republic of Tanzania,36,179,57,60,53,108,40,22,...,77.8872,NaN,80.0905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,United States,151,11,7,7,6,9,6,4,...,–,NaN,93.7542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,Uruguay,133,23,9,10,8,21,8,5,...,98.5239,NaN,94.2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,Uzbekistan,80,72,24,27,21,59,21,14,...,99.9838,NaN,94.6949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,Vanuatu,73,36,28,30,25,29,23,12,...,74,x,85.8138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,...,97.1271,NaN,89.8568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,Viet Nam,82,51,22,25,18,37,17,12,...,93.5204,x,97.9651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,Yemen,38,126,55,59,51,88,43,27,...,–,NaN,84.8373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,Zambia,33,182,63,68,58,110,44,23,...,83.0077,x,87.4041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Zimbabwe,37,75,56,62,51,50,40,23,...,88.6934,NaN,85.8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For the final dataframe, there is no column to record 'x'. Thus, we should drop the column of 'x'. First, the charactor 'x' can be replced by NaN use regular expression.

Next, we can used function `dropna()` to drop all the NA rows and columns.  `how = 'all'` means drop the columns or rows if there are all NA.

And then, replace the '-' cell with nothing using regular expression.

In [10]:
# replace single 'x' with NaN using regular expression
df.replace(r'^x$', np.nan, inplace = True, regex = True)
df

,Unnamed: 0,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
4,NaN,Afghanistan,25,177,70,74,66,120,53,40,...,31.7411,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Albania,114,40,14,15,12,35,12,6,...,97.247,NaN,95.5173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Algeria,78,49,25,27,24,41,22,16,...,75.136,NaN,97.0622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Andorra,179,9,3,3,3,7,2,1,...,100,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Angola,17,221,83,88,76,131,55,29,...,66.0301,NaN,84.0123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Anguilla,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Antigua and Barbuda,133,26,9,9,8,25,5,4,...,98.95,NaN,87.0461,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Argentina,126,29,11,12,10,26,10,6,...,98.09,NaN,99.3468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Armenia,118,50,13,15,12,42,12,7,...,99.7444,NaN,96.0743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Australia,164,9,4,4,3,8,3,2,...,–,NaN,97.0328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Austria,164,10,4,4,3,8,3,2,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Azerbaijan,68,95,31,34,28,75,27,18,...,99.7901,NaN,94.1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Bahamas,126,24,11,11,10,20,9,6,...,–,NaN,97.5202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Bahrain,142,23,8,8,7,20,7,3,...,94.5568,NaN,96.4285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Bangladesh,62,144,34,37,32,100,28,20,...,72.7587,NaN,90.5086,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Barbados,123,18,12,13,11,16,11,8,...,–,NaN,91.0225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Belarus,164,15,4,4,3,12,3,2,...,99.6171,NaN,95.3602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Belgium,164,10,4,4,4,8,3,2,...,–,NaN,98.9478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Belize,106,39,15,16,13,32,13,10,...,–,NaN,96.1412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Benin,7,178,98,102,93,107,63,31,...,32.9488,NaN,95.8666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Bhutan,66,128,32,36,29,90,27,18,...,57.0336,NaN,85.5824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,...,92.4551,NaN,88.4827,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,...,96.9918,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Botswana,56,54,41,44,37,42,33,26,...,81.1887,NaN,91.0209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Brazil,106,64,15,16,14,53,14,8,...,91.7294,NaN,92.6971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,British Virgin Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Brunei Darussalam,131,13,10,11,9,10,9,4,...,96.0856,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Bulgaria,142,18,8,8,7,15,7,4,...,98.3525,NaN,93.3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Burkina Faso,16,199,85,89,80,99,53,26,...,34.5994,NaN,69.0963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Burundi,23,170,72,77,66,103,48,24,...,61.5697,NaN,94.1483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,NaN,Switzerland,164,8,4,4,4,7,4,3,...,–,NaN,93.3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,Syrian Arab Republic,95,37,18,19,16,30,14,9,...,80.8445,NaN,66.6641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,Tajikistan,53,107,43,48,38,84,37,20,...,99.4507,NaN,97.7278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,Thailand,123,38,12,14,11,31,11,7,...,92.8683,NaN,90.7559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,...,96.1289,NaN,91.0574,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,Timor–Leste,46,175,50,54,46,132,42,22,...,58.309,NaN,95.5923,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,Togo,21,145,76,82,70,89,51,26,...,63.7456,NaN,95.4313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,Tokelau,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,Tonga,100,22,16,15,18,19,14,7,...,99.3855,NaN,88.2331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,Trinidad and Tobago,92,30,19,20,17,26,17,13,...,–,NaN,95.2379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,Tunisia,114,57,14,15,12,44,12,8,...,79.0364,NaN,98.5652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,Turkey,118,74,13,13,12,56,11,7,...,95.6014,NaN,94.1381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,Turkmenistan,44,86,51,60,42,70,43,22,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,Turks and Caicos Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,Tuvalu,78,57,25,28,23,44,21,17,...,–,NaN,84.4011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,Uganda,43,175,53,58,48,104,38,21,...,70.1982,NaN,93.6503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,Ukraine,133,19,9,10,8,17,8,5,...,99.9744,NaN,96.1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,United Arab Emirates,142,17,8,9,7,14,7,4,...,90.0339,NaN,93.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,United Kingdom,164,9,4,5,4,8,4,3,...,–,NaN,99.8543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,United Republic of Tanzania,36,179,57,60,53,108,40,22,...,77.8872,NaN,80.0905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,United States,151,11,7,7,6,9,6,4,...,–,NaN,93.7542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,Uruguay,133,23,9,10,8,21,8,5,...,98.5239,NaN,94.2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,Uzbekistan,80,72,24,27,21,59,21,14,...,99.9838,NaN,94.6949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,Vanuatu,73,36,28,30,25,29,23,12,...,74,NaN,85.8138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,...,97.1271,NaN,89.8568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,Viet Nam,82,51,22,25,18,37,17,12,...,93.5204,NaN,97.9651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,Yemen,38,126,55,59,51,88,43,27,...,–,NaN,84.8373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,Zambia,33,182,63,68,58,110,44,23,...,83.0077,NaN,87.4041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Zimbabwe,37,75,56,62,51,50,40,23,...,88.6934,NaN,85.8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# drop all NAN rows and columns
df = df.dropna(1, how = 'all').dropna(0, how = 'all')
df

,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 16
4,Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.96,80,63.673,31.7411,–
5,Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.247,95.5173
6,Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.136,97.0622
7,Andorra,179,9,3,3,3,7,2,1,77.281,–,0,–,100,–
8,Angola,17,221,83,88,76,131,55,29,28813.463,1180.97,96,61.547,66.0301,84.0123
9,Anguilla,–,–,–,–,–,–,–,–,14.764,–,–,–,–,–
10,Antigua and Barbuda,133,26,9,9,8,25,5,4,100.963,1.636,0,76.364,98.95,87.0461
11,Argentina,126,29,11,12,10,26,10,6,43847.430,753.646,8,76.577,98.09,99.3468
12,Armenia,118,50,13,15,12,42,12,7,2924.816,40.158,1,74.618,99.7444,96.0743
13,Australia,164,9,4,4,3,8,3,2,24125.848,310.703,1,82.896,–,97.0328
14,Austria,164,10,4,4,3,8,3,2,8712.137,83.099,0,81.594,–,–
15,Azerbaijan,68,95,31,34,28,75,27,18,9725.376,176.026,5,72.026,99.7901,94.1427
16,Bahamas,126,24,11,11,10,20,9,6,391.232,5.57,0,75.675,–,97.5202
17,Bahrain,142,23,8,8,7,20,7,3,1425.171,21.489,0,76.9,94.5568,96.4285
18,Bangladesh,62,144,34,37,32,100,28,20,162951.560,3109.72,106,72.489,72.7587,90.5086
19,Barbados,123,18,12,13,11,16,11,8,284.996,3.408,0,75.906,–,91.0225
20,Belarus,164,15,4,4,3,12,3,2,9480.042,114.344,0,72.926,99.6171,95.3602
21,Belgium,164,10,4,4,4,8,3,2,11358.379,128.957,1,81.134,–,98.9478
22,Belize,106,39,15,16,13,32,13,10,366.954,8.181,0,70.384,–,96.1412
23,Benin,7,178,98,102,93,107,63,31,10872.298,396.613,38,60.907,32.9488,95.8666
24,Bhutan,66,128,32,36,29,90,27,18,797.765,14.528,0,70.197,57.0336,85.5824
25,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,10887.882,252.768,9,69.125,92.4551,88.4827
26,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,3516.816,32.523,0,76.911,96.9918,–
27,Botswana,56,54,41,44,37,42,33,26,2250.260,53.332,2,66.797,81.1887,91.0209
28,Brazil,106,64,15,16,14,53,14,8,207652.865,2965.62,45,75.509,91.7294,92.6971
29,British Virgin Islands,–,–,–,–,–,–,–,–,30.661,–,–,–,–,–
30,Brunei Darussalam,131,13,10,11,9,10,9,4,423.196,6.73,0,77.203,96.0856,–
31,Bulgaria,142,18,8,8,7,15,7,4,7131.494,66.913,1,74.749,98.3525,93.3048
32,Burkina Faso,16,199,85,89,80,99,53,26,18646.433,715.598,60,60.361,34.5994,69.0963
33,Burundi,23,170,72,77,66,103,48,24,10524.117,437.227,31,57.481,61.5697,94.1483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Sweden,179,7,3,3,3,6,2,2,9837.533,118.513,0,82.462,–,99.3731
177,Switzerland,164,8,4,4,4,7,4,3,8401.739,86.328,0,83.308,–,93.3163
178,Syrian Arab Republic,95,37,18,19,16,30,14,9,18430.453,426.666,7,70.31,80.8445,66.6641
179,Tajikistan,53,107,43,48,38,84,37,20,8734.951,250.673,11,71.051,99.4507,97.7278
180,Thailand,123,38,12,14,11,31,11,7,68863.514,725.666,9,75.303,92.8683,90.7559
181,The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,2081.206,23.493,0,75.703,96.1289,91.0574
182,Timor–Leste,46,175,50,54,46,132,42,22,1268.671,44.03,2,68.881,58.309,95.5923
183,Togo,21,145,76,82,70,89,51,26,7606.374,256.286,19,60.232,63.7456,95.4313
184,Tokelau,–,–,–,–,–,–,–,–,1.282,–,–,–,–,–
185,Tonga,100,22,16,15,18,19,14,7,107.122,2.607,0,73.029,99.3855,88.2331
186,Trinidad and Tobago,92,30,19,20,17,26,17,13,1364.962,18.951,0,70.673,–,95.2379
187,Tunisia,114,57,14,15,12,44,12,8,11403.248,210.021,3,75.731,79.0364,98.5652
188,Turkey,118,74,13,13,12,56,11,7,79512.426,1294.09,16,75.755,95.6014,94.1381
189,Turkmenistan,44,86,51,60,42,70,43,22,5662.544,144.35,7,67.835,–,–
190,Turks and Caicos Islands,–,–,–,–,–,–,–,–,34.900,–,–,–,–,–
191,Tuvalu,78,57,25,28,23,44,21,17,11.097,–,0,–,–,84.4011
192,Uganda,43,175,53,58,48,104,38,21,41487.965,1715.49,90,59.889,70.1982,93.6503
193,Ukraine,133,19,9,10,8,17,8,5,44438.625,479.168,4,71.96,99.9744,96.1755
194,United Arab Emirates,142,17,8,9,7,14,7,4,9269.612,91.583,1,77.256,90.0339,93.375
195,United Kingdom,164,9,4,5,4,8,4,3,65788.574,805.499,3,81.565,–,99.8543
196,United Republic of Tanzania,36,179,57,60,53,108,40,22,55572.201,2086.73,117,65.675,77.8872,80.0905
197,United States,151,11,7,7,6,9,6,4,322179.605,4002.52,26,79.392,–,93.7542
198,Uruguay,133,23,9,10,8,21,8,5,3444.006,48.546,0,77.493,98.5239,94.2177
199,Uzbekistan,80,72,24,27,21,59,21,14,31446.795,663.073,16,71.314,99.9838,94.6949
200,Vanuatu,73,36,28,30,25,29,23,12,270.402,6.93,0,72.133,74,85.8138
201,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,31568.179,602.103,10,74.545,97.1271,89.8568
202,Viet Nam,82,51,22,25,18,37,17,12,94569.072,1581.76,34,76.253,93.5204,97.9651
203,Yemen,38,126,55,59,51,88,43,27,27584.213,867.303,48,64.953,–,84.8373
204,Zambia,33,182,63,68,58,110,44,23,16591.390,620.261,39,61.874,83.0077,87.4041
205,Zimbabwe,37,75,56,62,51,50,40,23,16150.362,535.37,30,61.163,88.6934,85.8624

In [12]:
# replace '-' with empty using re
df = df.replace(r'^–$', '', regex = True)
df

,TABLE 1. BASIC INDICATORS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 16
4,Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.96,80,63.673,31.7411,
5,Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.247,95.5173
6,Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.136,97.0622
7,Andorra,179,9,3,3,3,7,2,1,77.281,,0,,100,
8,Angola,17,221,83,88,76,131,55,29,28813.463,1180.97,96,61.547,66.0301,84.0123
9,Anguilla,,,,,,,,,14.764,,,,,
10,Antigua and Barbuda,133,26,9,9,8,25,5,4,100.963,1.636,0,76.364,98.95,87.0461
11,Argentina,126,29,11,12,10,26,10,6,43847.430,753.646,8,76.577,98.09,99.3468
12,Armenia,118,50,13,15,12,42,12,7,2924.816,40.158,1,74.618,99.7444,96.0743
13,Australia,164,9,4,4,3,8,3,2,24125.848,310.703,1,82.896,,97.0328
14,Austria,164,10,4,4,3,8,3,2,8712.137,83.099,0,81.594,,
15,Azerbaijan,68,95,31,34,28,75,27,18,9725.376,176.026,5,72.026,99.7901,94.1427
16,Bahamas,126,24,11,11,10,20,9,6,391.232,5.57,0,75.675,,97.5202
17,Bahrain,142,23,8,8,7,20,7,3,1425.171,21.489,0,76.9,94.5568,96.4285
18,Bangladesh,62,144,34,37,32,100,28,20,162951.560,3109.72,106,72.489,72.7587,90.5086
19,Barbados,123,18,12,13,11,16,11,8,284.996,3.408,0,75.906,,91.0225
20,Belarus,164,15,4,4,3,12,3,2,9480.042,114.344,0,72.926,99.6171,95.3602
21,Belgium,164,10,4,4,4,8,3,2,11358.379,128.957,1,81.134,,98.9478
22,Belize,106,39,15,16,13,32,13,10,366.954,8.181,0,70.384,,96.1412
23,Benin,7,178,98,102,93,107,63,31,10872.298,396.613,38,60.907,32.9488,95.8666
24,Bhutan,66,128,32,36,29,90,27,18,797.765,14.528,0,70.197,57.0336,85.5824
25,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,10887.882,252.768,9,69.125,92.4551,88.4827
26,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,3516.816,32.523,0,76.911,96.9918,
27,Botswana,56,54,41,44,37,42,33,26,2250.260,53.332,2,66.797,81.1887,91.0209
28,Brazil,106,64,15,16,14,53,14,8,207652.865,2965.62,45,75.509,91.7294,92.6971
29,British Virgin Islands,,,,,,,,,30.661,,,,,
30,Brunei Darussalam,131,13,10,11,9,10,9,4,423.196,6.73,0,77.203,96.0856,
31,Bulgaria,142,18,8,8,7,15,7,4,7131.494,66.913,1,74.749,98.3525,93.3048
32,Burkina Faso,16,199,85,89,80,99,53,26,18646.433,715.598,60,60.361,34.5994,69.0963
33,Burundi,23,170,72,77,66,103,48,24,10524.117,437.227,31,57.481,61.5697,94.1483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Sweden,179,7,3,3,3,6,2,2,9837.533,118.513,0,82.462,,99.3731
177,Switzerland,164,8,4,4,4,7,4,3,8401.739,86.328,0,83.308,,93.3163
178,Syrian Arab Republic,95,37,18,19,16,30,14,9,18430.453,426.666,7,70.31,80.8445,66.6641
179,Tajikistan,53,107,43,48,38,84,37,20,8734.951,250.673,11,71.051,99.4507,97.7278
180,Thailand,123,38,12,14,11,31,11,7,68863.514,725.666,9,75.303,92.8683,90.7559
181,The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,2081.206,23.493,0,75.703,96.1289,91.0574
182,Timor–Leste,46,175,50,54,46,132,42,22,1268.671,44.03,2,68.881,58.309,95.5923
183,Togo,21,145,76,82,70,89,51,26,7606.374,256.286,19,60.232,63.7456,95.4313
184,Tokelau,,,,,,,,,1.282,,,,,
185,Tonga,100,22,16,15,18,19,14,7,107.122,2.607,0,73.029,99.3855,88.2331
186,Trinidad and Tobago,92,30,19,20,17,26,17,13,1364.962,18.951,0,70.673,,95.2379
187,Tunisia,114,57,14,15,12,44,12,8,11403.248,210.021,3,75.731,79.0364,98.5652
188,Turkey,118,74,13,13,12,56,11,7,79512.426,1294.09,16,75.755,95.6014,94.1381
189,Turkmenistan,44,86,51,60,42,70,43,22,5662.544,144.35,7,67.835,,
190,Turks and Caicos Islands,,,,,,,,,34.900,,,,,
191,Tuvalu,78,57,25,28,23,44,21,17,11.097,,0,,,84.4011
192,Uganda,43,175,53,58,48,104,38,21,41487.965,1715.49,90,59.889,70.1982,93.6503
193,Ukraine,133,19,9,10,8,17,8,5,44438.625,479.168,4,71.96,99.9744,96.1755
194,United Arab Emirates,142,17,8,9,7,14,7,4,9269.612,91.583,1,77.256,90.0339,93.375
195,United Kingdom,164,9,4,5,4,8,4,3,65788.574,805.499,3,81.565,,99.8543
196,United Republic of Tanzania,36,179,57,60,53,108,40,22,55572.201,2086.73,117,65.675,77.8872,80.0905
197,United States,151,11,7,7,6,9,6,4,322179.605,4002.52,26,79.392,,93.7542
198,Uruguay,133,23,9,10,8,21,8,5,3444.006,48.546,0,77.493,98.5239,94.2177
199,Uzbekistan,80,72,24,27,21,59,21,14,31446.795,663.073,16,71.314,99.9838,94.6949
200,Vanuatu,73,36,28,30,25,29,23,12,270.402,6.93,0,72.133,74,85.8138
201,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,31568.179,602.103,10,74.545,97.1271,89.8568
202,Viet Nam,82,51,22,25,18,37,17,12,94569.072,1581.76,34,76.253,93.5204,97.9651
203,Yemen,38,126,55,59,51,88,43,27,27584.213,867.303,48,64.953,,84.8373
204,Zambia,33,182,63,68,58,110,44,23,16591.390,620.261,39,61.874,83.0077,87.4041
205,Zimbabwe,37,75,56,62,51,50,40,23,16150.362,535.37,30,61.163,88.6934,85.8624

From the dataframe before, the column name is not what we want. And for better readable, the first column, country, can be set as index and replace the index name as Country Name. Then, it will be easy to rename the other columns with the number from 0.

In [13]:
# Set the first colums as index 
df = df.set_index(df['TABLE 1. BASIC INDICATORS'].values)
df.index.name = 'Country Name'

In [14]:
# drop the duplicate column which is not index column 
df.drop('TABLE 1. BASIC INDICATORS', 1, inplace = True)
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 16
Country Name,,,,,,,,,,,,,,
Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.96,80,63.673,31.7411,
Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.247,95.5173
Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.136,97.0622
Andorra,179,9,3,3,3,7,2,1,77.281,,0,,100,
Angola,17,221,83,88,76,131,55,29,28813.463,1180.97,96,61.547,66.0301,84.0123
Anguilla,,,,,,,,,14.764,,,,,
Antigua and Barbuda,133,26,9,9,8,25,5,4,100.963,1.636,0,76.364,98.95,87.0461
Argentina,126,29,11,12,10,26,10,6,43847.430,753.646,8,76.577,98.09,99.3468
Armenia,118,50,13,15,12,42,12,7,2924.816,40.158,1,74.618,99.7444,96.0743
Australia,164,9,4,4,3,8,3,2,24125.848,310.703,1,82.896,,97.0328
Austria,164,10,4,4,3,8,3,2,8712.137,83.099,0,81.594,,
Azerbaijan,68,95,31,34,28,75,27,18,9725.376,176.026,5,72.026,99.7901,94.1427
Bahamas,126,24,11,11,10,20,9,6,391.232,5.57,0,75.675,,97.5202
Bahrain,142,23,8,8,7,20,7,3,1425.171,21.489,0,76.9,94.5568,96.4285
Bangladesh,62,144,34,37,32,100,28,20,162951.560,3109.72,106,72.489,72.7587,90.5086
Barbados,123,18,12,13,11,16,11,8,284.996,3.408,0,75.906,,91.0225
Belarus,164,15,4,4,3,12,3,2,9480.042,114.344,0,72.926,99.6171,95.3602
Belgium,164,10,4,4,4,8,3,2,11358.379,128.957,1,81.134,,98.9478
Belize,106,39,15,16,13,32,13,10,366.954,8.181,0,70.384,,96.1412
Benin,7,178,98,102,93,107,63,31,10872.298,396.613,38,60.907,32.9488,95.8666
Bhutan,66,128,32,36,29,90,27,18,797.765,14.528,0,70.197,57.0336,85.5824
Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,10887.882,252.768,9,69.125,92.4551,88.4827
Bosnia and Herzegovina,153,18,6,7,5,16,5,5,3516.816,32.523,0,76.911,96.9918,
Botswana,56,54,41,44,37,42,33,26,2250.260,53.332,2,66.797,81.1887,91.0209
Brazil,106,64,15,16,14,53,14,8,207652.865,2965.62,45,75.509,91.7294,92.6971
British Virgin Islands,,,,,,,,,30.661,,,,,
Brunei Darussalam,131,13,10,11,9,10,9,4,423.196,6.73,0,77.203,96.0856,
Bulgaria,142,18,8,8,7,15,7,4,7131.494,66.913,1,74.749,98.3525,93.3048
Burkina Faso,16,199,85,89,80,99,53,26,18646.433,715.598,60,60.361,34.5994,69.0963
Burundi,23,170,72,77,66,103,48,24,10524.117,437.227,31,57.481,61.5697,94.1483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweden,179,7,3,3,3,6,2,2,9837.533,118.513,0,82.462,,99.3731
Switzerland,164,8,4,4,4,7,4,3,8401.739,86.328,0,83.308,,93.3163
Syrian Arab Republic,95,37,18,19,16,30,14,9,18430.453,426.666,7,70.31,80.8445,66.6641
Tajikistan,53,107,43,48,38,84,37,20,8734.951,250.673,11,71.051,99.4507,97.7278
Thailand,123,38,12,14,11,31,11,7,68863.514,725.666,9,75.303,92.8683,90.7559
The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,2081.206,23.493,0,75.703,96.1289,91.0574
Timor–Leste,46,175,50,54,46,132,42,22,1268.671,44.03,2,68.881,58.309,95.5923
Togo,21,145,76,82,70,89,51,26,7606.374,256.286,19,60.232,63.7456,95.4313
Tokelau,,,,,,,,,1.282,,,,,
Tonga,100,22,16,15,18,19,14,7,107.122,2.607,0,73.029,99.3855,88.2331
Trinidad and Tobago,92,30,19,20,17,26,17,13,1364.962,18.951,0,70.673,,95.2379
Tunisia,114,57,14,15,12,44,12,8,11403.248,210.021,3,75.731,79.0364,98.5652
Turkey,118,74,13,13,12,56,11,7,79512.426,1294.09,16,75.755,95.6014,94.1381
Turkmenistan,44,86,51,60,42,70,43,22,5662.544,144.35,7,67.835,,
Turks and Caicos Islands,,,,,,,,,34.900,,,,,
Tuvalu,78,57,25,28,23,44,21,17,11.097,,0,,,84.4011
Uganda,43,175,53,58,48,104,38,21,41487.965,1715.49,90,59.889,70.1982,93.6503
Ukraine,133,19,9,10,8,17,8,5,44438.625,479.168,4,71.96,99.9744,96.1755
United Arab Emirates,142,17,8,9,7,14,7,4,9269.612,91.583,1,77.256,90.0339,93.375
United Kingdom,164,9,4,5,4,8,4,3,65788.574,805.499,3,81.565,,99.8543
United Republic of Tanzania,36,179,57,60,53,108,40,22,55572.201,2086.73,117,65.675,77.8872,80.0905
United States,151,11,7,7,6,9,6,4,322179.605,4002.52,26,79.392,,93.7542
Uruguay,133,23,9,10,8,21,8,5,3444.006,48.546,0,77.493,98.5239,94.2177
Uzbekistan,80,72,24,27,21,59,21,14,31446.795,663.073,16,71.314,99.9838,94.6949
Vanuatu,73,36,28,30,25,29,23,12,270.402,6.93,0,72.133,74,85.8138
Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,31568.179,602.103,10,74.545,97.1271,89.8568
Viet Nam,82,51,22,25,18,37,17,12,94569.072,1581.76,34,76.253,93.5204,97.9651
Yemen,38,126,55,59,51,88,43,27,27584.213,867.303,48,64.953,,84.8373
Zambia,33,182,63,68,58,110,44,23,16591.390,620.261,39,61.874,83.0077,87.4041
Zimbabwe,37,75,56,62,51,50,40,23,16150.362,535.37,30,61.163,88.6934,85.8624

In [15]:
df.columns = list(range(len(df.columns)))
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Country Name,,,,,,,,,,,,,,
Afghanistan,25,177,70,74,66,120,53,40,34656.032,1142.96,80,63.673,31.7411,
Albania,114,40,14,15,12,35,12,6,2926.348,34.75,0,78.345,97.247,95.5173
Algeria,78,49,25,27,24,41,22,16,40606.052,949.277,24,76.078,75.136,97.0622
Andorra,179,9,3,3,3,7,2,1,77.281,,0,,100,
Angola,17,221,83,88,76,131,55,29,28813.463,1180.97,96,61.547,66.0301,84.0123

By checking the data type of the dataframe, we can find out that all the values are recorded as object. Thus, we should convert the object type into number. `dataframe.convert_objects(convert_numeric = True)` is used to convert the object type to numeric type if the column can be convert.

In [16]:
# Check the data type of each column in the dataframe
df.dtypes

0      object
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8     float64
9      object
10     object
11     object
12     object
13     object
dtype: object

In [17]:
# convert object data type into numeric type
df = df.convert_objects(convert_numeric = True)
df.dtypes

D:\Users\GE62\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object

In [18]:
# export dataframe into csv file with no decimal float format
df.to_csv('./basic_indicators.csv', float_format='%.0f', encoding = 'utf-16', sep = '\t')

## 3. Summary

This task measured and understanding of basic excel file processing techniques in Python programming language.
* __Excel parsing and data extraction.__ Excel cannot parsing dirctly from excel file. Because there may be a lot of work sheets in the file. Python cannot parse all the work sheets into one dataframe. Thus, the data should be extract into main memory. And then, read the sheet names with function `excel.sheet_names`. Finally, parse the needed sheet into dataframe using function `parse(sheet_name)`.

* __Dataframe manipulation.__ `pandas` packadge is imported for dataframe manipulation. The function drop is used to drop the specific rows or columns we don't need. dropna is used to drop the NA row or column. if the parameter how=all, it means drop the column or row with all the cells are NA. if how=any, it means drop the column or row with more than one of cell is NA. In this task, we only drop the line with all NA. Function `replace` is used to replace some value into another. In this task, we use regular expression to replace the matched pattern. In this task, because the replaced item 'x' or '-' is the whole item in one cell. Thus, there is no need to use regular expression. However, for practice, I still choose it. Moreover, reset the column names set index column name are also done. finally, `convert_objects()` function and `convert_numeric` function are used to convert the data type of object into numeric.

* __Exporting data to specific format.__ The last step is to export data to csv format. Here, we use function `to_csv()`. Observing the output data in task specification, the output shoule show as integer. However, our dataframe store the data as float64. Thus, we  use the parameter `float_format` to change the exported format. `float_format='%.0f'` means the output is still foalt format but with 0 bit decimal. I choose encoding format utf-16 because the default encoding cannot recognize all the character correctly.